:root {
  --bgcolor: #34393f;
  --txtcolor: #d874e6;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: sans-serif;
  background-color: var(--bgcolor);
  color: var(--txtcolor);
}

header {
  margin: 50px 0px;
}

header * {
  max-width: 50%;
  margin-left: 25%;
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 15px;
}

header p {
  color: #fff;
  font-size: large;
  text-align: center;
}

footer {
  height: 50px;
}

footer p {
  display: flex;
  justify-content: center;
  margin-top: 25%;
}

.cards ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards ul li {
  width: 25%;
  height: 30%;
  border-style: dashed;
  border-color: #fff;
  margin: 50px 25px;
  z-index: -1;
}

.cards ul li h2 {
  font-size: x-large;
  font-weight: bold;
  margin-left: 15px;
  border-width: 5px;
  border-color: #fff;
  border-radius: 15px;
  z-index: 0;
}

.cards ul li p {
  margin: 0;
}

pre code {
  display: flex;
  align-items: baseline;
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
  max-width: 90%;
  min-width: 100px;
  height: 200px;
  padding: 0;
}
